/* style.css */

body {
    background-color: #fff;
    font: 13px/27px Roboto,Arial,sans-serif;
    height: 700px;
}
.m-upper {
    padding-top: 10px;
    line-height: normal;
}

#m-upper_1 {
    float: left;
    height: 50px;
}

#m-upper_2, #m-upper_3, #m-upper_4 {
    text-decoration: none;
    float: left;
    display: flex;
    align-items: center;
    height: 30px;
    width: 30PX;
    margin: 10px;

}

#m-upper_2:hover {
    background-color: #595a5b;
    border-radius: 100%;
}

#m-upper_3:hover, #m-upper_4:hover {
    text-decoration: underline;
}



button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.m-logo_center {
    height: 200px;

}


.m-center {
    background-color: #fff;

}

#m-search_box {
    border-radius: 50%;
}

input {
    background-color: #fff;
    border-radius: 30%;
    width: 10cm;
    height: 1cm;
    
}