/* style.css */

body {
    background-color: #fff;
    font: 13px/27px Roboto, Arial, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
}

body {
    background-color: #fff;
    font: 13px/27px Roboto, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.m-upper {
    position: relative;
    right: 6px;
    top: 2px;
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 6px;
}

.m-upper_icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    height: 55px;
    width: auto;
}

.m-upper_icon0 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: auto;
}

.m-upper_icon0 button{
    padding: 0px 6px;
    height: 0px;
}

.m-upper_icon1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    padding-left: 15px;
    height: 55px;
    width: auto;
}

#m-upper_3,
#m-upper_4 {
    position: relative;
    top: 0px;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m-upper_icon button,
.m-upper_icon a,
.m-upper_icon0 button,
.m-upper_icon0 a {
    border: #ffffff;
    background-color: #ffffff;
    margin: 0 0px;
    height: 45px;
}


#m-upper_1 {
    height: 45px;
    margin-top: 0px;
    padding-left: 10px;
    padding-top: 0px;
}

#m-upper_2 {
    background-color: #fff;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m-upper_icon0 button:hover {
    box-shadow: 0px 0px 0px 1px rgba(1,0,0,0.1);
    border-radius: 50%;
    cursor: pointer;
}

#m-upper_3:hover,
#m-upper_4:hover {
    text-decoration: underline;
}

button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    line-height: 27px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.m-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30%;
}

.m-logo_center img {
    position: relative;
    height: 100%;
}

.m-search {
    padding: 20px;
    max-height: 160px;
    height: 120px;
    display: flex;
    flex-direction: column;
}

#seabar {
    direction: rtl;
    border: none;
    outline: none;
    background: none;
    position: relative;
    bottom: 4px;
    right: 35px;
    margin-left: 30px;
}

.m-search_box {
    flex: 1;
    display: flex;
    padding: 5px 6px 0 8px;
    z-index: 3;
    min-height: 42px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    max-width: 584px;
    width: 600px;
}

.m-search_box:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.search-button {
    position: relative;
    background: none;
    border: none;
    padding: 0;
}

#search-button3:hover {
    cursor: pointer;
}

#search-button1 {
    height: 28px;
    width: auto;
    display: flex;
    padding: 0 8px;
}

#search-button2 {
    height: 26px;
    width: auto;
    display: flex;
    padding: 0 8px;
}

#search-button3 {
    height: 11px;
    width: auto;
    display: flex;
    padding: 0 8px;
}

#m-glass {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
}

#m-glass img {
    width: 40px;
    height: auto;
    display: flex;
    padding: 0 8px;
}

input {
    width: 100%;
    border: none;
}

.m-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 18px;
    height: 70px;
}

.m-button2 {
    margin: 11px 4px;
    padding-left: 15px;
    padding-right: 15px;
}

.m-button2:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.m-search_available {
    flex-grow: 1;
    text-align: center;
}

.m-search_available1 {
    color: #4d5156;
    display: inline-block;
    line-height: 28px;
}

.m-search_lang:hover {
    text-decoration: underline;
}

.m-search_lang {
    padding: 0px 3px;
    color: #1a0dab;
    text-decoration: none;
}

.m-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 96px;
    background-color: #f2f2f2;
    box-sizing: border-box;
    z-index: 999;
    justify-content: space-evenly;
}

.m-bottom1 {
    padding: 10px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #70757a;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: right;
    direction: rtl;
}

.m-bottom2 {
    padding: 10px 30px;
    font-size: 15px;
    color: #70757a;
    text-align: center;
    text-decoration: none;
}

#imgbottom {
    width: 12px;
    height: auto;
}

#m-bottom21 {
    width: 100%;
}

#m-bottom211 {
    font-size: 14px;
    vertical-align: top;
    text-decoration: none;
    color: #70757a;
}

#m-bottom211:hover {
    text-decoration: underline;
}

.m-bottom22 {
    font-size: 14px;
    position: absolute;
    right: 35px;
    top: 56px;
    padding-top: 2px;
}

.m-bottom24 {
    font-size: 14px;
    position: absolute;
    left: 18px;
    top: 56px;
    padding-top: 2px;
}

.m-bottom23,
.m-bottom25 {
    padding-left: 25px;
    text-decoration: none;
    color: #70757a;
}

.m-bottom23:hover,
.m-bottom25:hover {
    text-decoration: underline;
}